{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 align="center">Create a Post</h1>
    <form method="post">
        <div class="form-group">
            <label for="text">Your Message:</label>
            <textarea name="text" id="text" class="form-control" rows="5" placeholder="Write something..."></textarea>
        </div>
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-lg btn-primary">Post</button>
        </div>
    </form>
{% endblock %}