{% extends "base.html" %}
{% block title %}{{username}}'s Posts{% endblock %}
{% block content %}
    <h1 align="center">
        {% block header %}{{username}}'s Posts{% endblock %}
    </h1>
    <div id="posts">
        {% for post in posts %}
            <div class="card border-dark">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="/posts/{{post.author.username}}">{{post.author.username}}</a>
                    {% if user.id==post.author.id %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">{{post.text}}</div>
                <div class="card-footer text-muted">
                    {{post.date_created}}
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}